.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 98, 168);
  margin-top: 100px;
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.drop-down1 {
  text-decoration: none;
}
#collasible-nav-dropdown {
  color: rgb(60, 98, 168) !important;
  font-family: sans-serif;
  font-weight: bold;
}
