.login-button {
  margin-right: 1% !important;
  opacity: 0.6;
}
.free-button {
  opacity: 0.9;
}
.search-button {
  margin-right: 1% !important;
  color: rgb(84, 193, 212);
}
.top-nav {
  padding-bottom: 1% !important;
}
.drop-down1 {
  margin-left: 10% !important;
}
.free-button:hover {
  opacity: 0.5;
}
