.text-block {
  width: 20%;
  margin-left: 18.5%;
  margin-top: 2%;
}
.title-content {
  font-weight: 700;
  font-size: 45px;
  color: rgb(58, 91, 119);
  padding-bottom: 5%;
}
.title-button {
  padding: 20px 30px;
  opacity: 0.9;
}
.title-button:hover {
  opacity: 0.5;
}
.started {
  width: 48%;
  font-size: 13px;
  text-align: justify;
  margin-top: 7%;
  color: rgb(58, 91, 119);
}
.top-image {
  position: absolute;
}
p {
  color: rgb(58, 91, 119);
}
.top-content {
  display: flex;
}
